<template>
    <div class="container">
        <div class=" pt-50 pb-50 ">
            <div class=" pt-50 pb-50 " >
                <h1 class="font-weight-bold">Sobre</h1>
                <div>
                    <h4>Serviço: <b>{{ service_name }}</b></h4>
                </div>
                <div>
                    <h4>Versão: {{ service_version }}</h4>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import LoginService from '../services/ApiService';
    export default {
        data() {
            return {
                service_name: 'Consultando..',
                service_version: '0.0.0'
            }
        },
        mounted() {

            LoginService.setHeader();
            LoginService.get('/')
                .then(({ data }) => {

                    // informações do app
                    this.service_name = data.service;
                    this.service_version = data.version;

                    // loging
                    if(process.env.VUE_APP_CONSOLE) console.log(data);

                })
                .catch(() => {
                    // #todo SET_ERROR cannot work in multiple states
                    // context.commit(SET_ERROR, response.data.errors)
                    this.service_name = 'Ops, aconteceu um problema na requisição!'
                });
        }
    }
</script>
