<template>
  <div class="container">
    <div class=" pt-50 pb-50 ">
      <div class=" pt-50 pb-50 " >
        <h1>Seja bem vindo!</h1>
        <div>Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. </div>
        <div>A ordem dos tratores não altera o pão duris. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.</div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import LoginService from '../services/ApiService'

export default {
  name: 'home',
    beforeCreate() {
      console.log('before');
    },
    mounted() {
        console.warn('zurox',this.$store.state.auth.zurox);
        console.warn('user',this.$store.state.auth.user);
        console.warn('isAuthenticated',this.$store.state.auth.isAuthenticated);
        LoginService.setHeader();
        LoginService.get('/api')
            .then(({ data }) => {
              console.log(data);
            })
            .catch((err) => {
              //  console.error('Ops');
                console.error(err.response.data);
                //this.$router.push('login')
            });
    },
    created() {

    }
}
</script>
