<template>

  <div class="row no-gutters">
    <div class=" col-md-6 offset-md-3 ">
      <div class=" pt-70">
        <div class="">

          <form class="" @submit.prevent="login">
            <h2 class="">Identificação</h2>

            <div class="form-group">
              <input v-model="username" type="text" id="inputUsername" class="form-control" placeholder="Nome de usuário" required autofocus>
            </div>

            <div class="form-group">
              <label for="inputPassword" class="sr-only">Password</label>
              <input v-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>

            <div v-if="messages_error">
              <div class="alert alert-danger" v-for="error in messages_error">
                {{ error }}
              </div>
            </div>
            <div v-if="messages_success">
              <div class="alert alert-success" v-for="success in messages_success">
                {{ success }}
              </div>
            </div>

            <button @click.prevent.stop="doLogin" class="btn btn-primary px-30">Entrar</button>

          </form>


        </div>
      </div>
    </div>
  </div>

</template>

<script>

    import ApiService from '../services/ApiService';

    export default {
        name: 'login-form',
        beforeCreate() {
            console.log('befores');
        },
        mounted () {
            if (localStorage.username) this.username = localStorage.username;
        },
        watch: {
            username (newUsername) {
                console.log(newUsername);
                localStorage.username = newUsername;
            }
        },
        methods: {
            doLogin() {
                console.log('doLogin');

                this.messages_error = [];
                this.messages_success = [];

                localStorage.setItem('name', 'tom')
                console.log(  localStorage.getItem('name') );


                  ApiService.post('api/oauth/token',{
                      "client_id": process.env.VUE_APP_API_CLIENT_ID,
                      "client_secret": process.env.VUE_APP_API_CLIENT_SECRET,
                      "username": this.username,
                      "password": this.password,
                      "grant_type": "password"
                  })
                      .then(function (response) {

                          if( process.env.VUE_APP_CONSOLE ) console.info( 'Sucesso no login ',response.data.access_token);

                          $cookies.set('access_token',response.data.access_token,3600,'/','zurox.com');
                          $cookies.set('refresh_token',response.data.refresh_token,3600,'/','zurox.com');
                        //  $cookies.set('access_token',response.data.access_token,3600,'/','*.zurox.com');
                        //  $cookies.set('refresh_token',response.data.refresh_token,3600,'/','*.zurox.com');

                      })
                      .catch( (error) => {
                          //console.error(error);
//                    console.error(' Http Error '+ error.response.status+' '+error.response.statusText);
                          //   this.messages_error.push(error.response.data.error_description);
                      });



            },
            saveToken( access_token, refresh_token) {

               // this.$localStorage.set('access_token',access_token);
               // this.$localStorage.set('refresh_token',refresh_token);
                localStorage.setItem('access_token',access_token);
                localStorage.setItem('refresh_token',refresh_token);
            }
        },
        data () {
            return {
                // auth
                username: 'zurox',
                password: 'secret',

                // error
                messages_error: [],
                messages_success: [],
            }
        },
    }
</script>
