<template>

    <div>

        <ul class="nav bg-light pa-15">
            <li class="nav-item">
                <router-link class="nav-link active" to="/">Início</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="login">Entrar</router-link>
            </li>
            <li class="nav-item float-right">
                <router-link class="nav-link float-right" to="about">Sobre</router-link>
            </li>

        </ul>


    </div>
</template>
<script>
    export default {

    }
</script>
