<template>
  <div id="app">

    <div class="hk-wrapper">
      <div class="hk-pg-wrapper hk-auth-wrapper">
        <header-nav></header-nav>
        <div class="container-fluid">
            <router-view/>
        </div>
      </div>
    </div>
  </div>

</template>

<style>
  body { background: #f4f6f7!important;}
</style>

<script>

    import Header from './components/Header';

    export default {
        components: {
            'header-nav': Header
        }
    }

</script>
